
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');

*{
    margin: 0;
    padding: 0;
    
    
}
body {
    background-color: rgb(216, 216, 216);
    color: rgb(0, 0, 0);
}

.left{
    width: 25vw;
}

.right
{
    width: 75vw;
}

.home ul li {
width: 20px;
list-style: none;
display: flex;
padding: 7px;
font:bold ;
cursor: pointer;
}

.bg-black
{
    background-color: black;
    color: white;
}

.invert{
     
    filter: invert(1);
   
  
}

.bg-grey
{
    background-color: #1a1919;
}

.home ul {
    padding: 5px;
}

.spotify
{
    padding-top: 7px;
    padding-left: 5px;
    cursor: pointer;
}

.logo{
    margin-right: 5px;
}

.heading 
{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 7px;
    cursor: pointer;
   
}

.heading > img{
    width: 20px;
    margin-right: 5px;
}

@media (min-width: 600px) {
    .left {
        width: 25vw;
    }

    .right {
        width: 75vw;
    }
}

.footer 
{
    display: flex;
    gap: 13px ;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    
}

.footer a{
    color: gray;
}

.library
{
    min-height: 69vh;
    position: relative;
}