.border {
    border: 2px solid rgb(6, 6, 6);
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-centre {
    justify-content: center;
}

.items-centre {
    align-items: center;
}

.rounded
{
    border-radius: 7px;
}